.github
.evidence/
scripts

sources/*
sources/datahub/
.npmrc
package-lock.json
package.json
evidence.plugins.yaml
.evidence/template
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/meta
*_obsolete*
*.code-workspace*
.vscode 
logs
*.log
node_modules/
.npm
.env
.cache
.cache/
.temp
.cache

 